
  
<div id="video-wrapper">


    <video loop muted autoplay poster="">

      <source src="monkey.mp4" type="video/mp4">

    </video>


    <div class="content d-flex align-items-md-start">

      <div class="container text-center">

        <h1>Добро пожаловать в урюпинский зоопарк</h1>
        <h2>Самый интересный зоопарк в России</h2>

      </div>

    </div>

</div>



